/* UNIVERSAL */
body{/*Universal*/
	width:750px;
	-webkit-box-align:center;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background:-webkit-linear-gradient(top,#EDDA74,white);
	background-size:100% 300px;
	background-repeat:no-repeat;
}
#nameuptop{/*Scolez*/
	font:60px Gill Sans;
	padding:0px;
	margin:0px;
	outline:black 2px;
	color:#302217;
	text-shadow:rgb(110,110,110) 3px 3px 3px;
}
#contentsection{/*Context*/
	color:#1A1203;
	background:#F6ECBA;
	width:100%;
	border-left: 2px solid #CFAE74;
	border-right: 2px solid #CFAE74;
	padding-left: 40px;
	padding-right: 40px;
}
#contenttitle{/*subpage name*/
	font-weight:bold;
	font: 40px Gill Sans;
	margin:0;
	text-shadow:rgb(110,110,110) 3px 3px 3px;
}
#contenttext{/*page description*/
	font: 18px Gill Sans;
}
/* FREEWARE */
#freewareimage #freewareimage2 #freewareimage3 #freewareimage4 #freewareimage5 #freewareimage6 {
	margin-left: auto;
	margin-right: auto;
	max-width:750px;
}
#gameimage #gameimage2 #gameimage3 #gameimage4{
	margin-left: auto;
	margin-right: auto;
	max-width:750px;
}
/* NAVIGATION MOTHER */
ul.topnav{
	font:25px Gill Sans;
	height: 32px;
	margin:0;
	padding: 0;
	list-style: none;
}
ul.topnav > li {
	display:inline-block;
	width: 200px;
	
}
/* NAVIGATION BABY*/
ul.topnav > li > ul {
	list-style: none;
	display:none;
	width:200px;
}
ul.topnav > li:hover ul {
	display: block;
	position: absolute;
	z-index: 1;
	margin:0;
}
/* NAVIGATION BOTH */
ul.topnav a {/**/
	display: block;
	text-decoration: none;
	color: black;
	background:-webkit-linear-gradient(top,#FDD017,#AF7817);
	text-shadow:rgb(110,110,110) 3px 3px 3px;
	-webkit-border-radius:5px;
	white-space: nowrap;
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin:1px;
}
ul.topnav a:hover {
	background: #FFF380;
	border: 1px solid #AF7817;
	margin:0px;
}
/* EXTRA */
A:link{ /* hyper links */
	color:#AF7817;
	text-decoration:none;
}
A:visited{ /* hyper links */
	color:#AF7817;
	text-decoration:none;
}
A:hover{ /* hyper links */
	color:black;
}